USE [master]
GO
/****** Object:  Database [YakovlevPR3]    Script Date: 16.05.2023 12:32:34 ******/
CREATE DATABASE [YakovlevPR3]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'YakovlevPR3', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\YakovlevPR3.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'YakovlevPR3_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\YakovlevPR3_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [YakovlevPR3].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [YakovlevPR3]
GO
/****** Object:  Table [dbo].[Должность$]    Script Date: 16.05.2023 12:32:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Должность$](
	[Код_должности] [int] NOT NULL,
	[Наименование_должности] [nvarchar](255) NULL,
 CONSTRAINT [PK_Должность$] PRIMARY KEY CLUSTERED 
(
	[Код_должности] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Заказы$]    Script Date: 16.05.2023 12:32:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Заказы$](
	[Код_заказа] [int] NOT NULL,
	[Дата_создания] [date] NULL,
	[Время_заказа] [time](7) NULL,
	[Код_клиента] [int] NULL,
	[Код_чека] [int] NULL,
	[Статус] [nvarchar](255) NULL,
	[Дата_закрытия] [date] NULL,
	[Время_проката] [int] NULL,
	[Код_сотрудника] [int] NULL,
 CONSTRAINT [PK_Заказы$] PRIMARY KEY CLUSTERED 
(
	[Код_заказа] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Клиенты$]    Script Date: 16.05.2023 12:32:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Клиенты$](
	[Фамилия] [nvarchar](255) NULL,
	[Имя] [nvarchar](255) NULL,
	[Отчество] [nvarchar](255) NULL,
	[Код_клиента] [int] NOT NULL,
	[Серия_паспорта] [int] NULL,
	[Номер_паспорта] [int] NULL,
	[Дата_рождения] [date] NULL,
	[Адрес] [nvarchar](255) NULL,
	[Электронная_почта] [nvarchar](255) NULL,
 CONSTRAINT [PK_Клиенты$] PRIMARY KEY CLUSTERED 
(
	[Код_клиента] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Сотрудники$]    Script Date: 16.05.2023 12:32:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Сотрудники$](
	[Код_сотрудника] [int] NOT NULL,
	[Фамилия] [nvarchar](255) NULL,
	[Имя] [nvarchar](255) NULL,
	[Отчество] [nvarchar](255) NULL,
	[Код_должности] [int] NULL,
	[Логин] [nvarchar](255) NULL,
	[Пароль] [nvarchar](255) NULL,
	[Последний_вход] [datetime] NULL,
	[Тип_входа] [nvarchar](255) NULL,
 CONSTRAINT [PK_Сотрудники$] PRIMARY KEY CLUSTERED 
(
	[Код_сотрудника] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Услуги$]    Script Date: 16.05.2023 12:32:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Услуги$](
	[Код_услуги] [int] NOT NULL,
	[Наименование_услуги] [nvarchar](255) NULL,
	[Стоимость] [money] NULL,
 CONSTRAINT [PK_Услуги$] PRIMARY KEY CLUSTERED 
(
	[Код_услуги] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Чек$]    Script Date: 16.05.2023 12:32:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Чек$](
	[Код_чека] [int] NOT NULL,
	[Код_заказа] [int] NULL,
	[Код_услуги] [int] NULL,
 CONSTRAINT [PK_Чек$] PRIMARY KEY CLUSTERED 
(
	[Код_чека] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Должность$] ([Код_должности], [Наименование_должности]) VALUES (11, N'Администратор')
INSERT [dbo].[Должность$] ([Код_должности], [Наименование_должности]) VALUES (22, N'Старший смены')
INSERT [dbo].[Должность$] ([Код_должности], [Наименование_должности]) VALUES (33, N'Продавец')
GO
INSERT [dbo].[Заказы$] ([Код_заказа], [Дата_создания], [Время_заказа], [Код_клиента], [Код_чека], [Статус], [Дата_закрытия], [Время_проката], [Код_сотрудника]) VALUES (1, CAST(N'2022-03-12' AS Date), CAST(N'09:10:00' AS Time), 45462526, 1, N'Новая', NULL, 120, 101)
INSERT [dbo].[Заказы$] ([Код_заказа], [Дата_создания], [Время_заказа], [Код_клиента], [Код_чека], [Статус], [Дата_закрытия], [Время_проката], [Код_сотрудника]) VALUES (2, CAST(N'2022-03-13' AS Date), CAST(N'10:10:00' AS Time), 45462527, 2, N'В прокате', NULL, 600, 102)
INSERT [dbo].[Заказы$] ([Код_заказа], [Дата_создания], [Время_заказа], [Код_клиента], [Код_чека], [Статус], [Дата_закрытия], [Время_проката], [Код_сотрудника]) VALUES (3, CAST(N'2022-03-14' AS Date), CAST(N'11:10:00' AS Time), 45462528, 3, N'В прокате', NULL, 120, 104)
GO
INSERT [dbo].[Клиенты$] ([Фамилия], [Имя], [Отчество], [Код_клиента], [Серия_паспорта], [Номер_паспорта], [Дата_рождения], [Адрес], [Электронная_почта]) VALUES (N'Фролов', N'Андрей', N'Иванович', 45462526, 1180, 176596, CAST(N'2001-07-14' AS Date), N'344288, г. Екатеринбург, ул. Чехова, 1, кв. 34', N'gohufreilagrau-3818@yopmail.com')
INSERT [dbo].[Клиенты$] ([Фамилия], [Имя], [Отчество], [Код_клиента], [Серия_паспорта], [Номер_паспорта], [Дата_рождения], [Адрес], [Электронная_почта]) VALUES (N'Николаев', N'Даниил', N'Всеволодович', 45462527, 2280, 223523, CAST(N'2001-02-10' AS Date), N'614164, г. Екатеринбург, ул. Степная, 30, кв. 75', N'xawugosune-1385@yopmail.com')
INSERT [dbo].[Клиенты$] ([Фамилия], [Имя], [Отчество], [Код_клиента], [Серия_паспорта], [Номер_паспорта], [Дата_рождения], [Адрес], [Электронная_почта]) VALUES (N'Снегирев', N'Макар', N'Иванович', 45462528, 4560, 354155, CAST(N'1998-05-21' AS Date), N'394242, г. Екатеринбург, ул. Коммунистическая, 43, кв. 57', N'satrahuddusei-4458@yopmail.com')
GO
INSERT [dbo].[Сотрудники$] ([Код_сотрудника], [Фамилия], [Имя], [Отчество], [Код_должности], [Логин], [Пароль], [Последний_вход], [Тип_входа]) VALUES (101, N'Иванов', N'Иван', N'Иванович', 33, N'Ivanov@namecomp.ru', N'2L6KZG', CAST(N'2022-05-15T13:13:00.000' AS DateTime), N'Успешно')
INSERT [dbo].[Сотрудники$] ([Код_сотрудника], [Фамилия], [Имя], [Отчество], [Код_должности], [Логин], [Пароль], [Последний_вход], [Тип_входа]) VALUES (102, N'Петров', N'Петр', N'Петрович', 33, N'petrov@namecomp.ru', N'uzWC67', CAST(N'2022-05-15T13:13:00.000' AS DateTime), N'Успешно')
INSERT [dbo].[Сотрудники$] ([Код_сотрудника], [Фамилия], [Имя], [Отчество], [Код_должности], [Логин], [Пароль], [Последний_вход], [Тип_входа]) VALUES (103, N'Федоров', N'Федор', N'Федорович', 11, N'fedorov@namecomp.ru', N'8ntwUp', CAST(N'2022-05-15T13:13:00.000' AS DateTime), N'Успешно')
GO
INSERT [dbo].[Услуги$] ([Код_услуги], [Наименование_услуги], [Стоимость]) VALUES (31, N'Прокат опорного оборудования для катка', 500.0000)
INSERT [dbo].[Услуги$] ([Код_услуги], [Наименование_услуги], [Стоимость]) VALUES (34, N'Обучение катанию на коньках', 1000.0000)
INSERT [dbo].[Услуги$] ([Код_услуги], [Наименование_услуги], [Стоимость]) VALUES (44, N'Прокат салазок', 450.0000)
GO
INSERT [dbo].[Чек$] ([Код_чека], [Код_заказа], [Код_услуги]) VALUES (1, 1, 34)
INSERT [dbo].[Чек$] ([Код_чека], [Код_заказа], [Код_услуги]) VALUES (2, 1, 31)
INSERT [dbo].[Чек$] ([Код_чека], [Код_заказа], [Код_услуги]) VALUES (3, 1, 353)
GO
ALTER TABLE [dbo].[Заказы$]  WITH CHECK ADD  CONSTRAINT [FK_Заказы$_Клиенты$] FOREIGN KEY([Код_клиента])
REFERENCES [dbo].[Клиенты$] ([Код_клиента])
GO
ALTER TABLE [dbo].[Заказы$] CHECK CONSTRAINT [FK_Заказы$_Клиенты$]
GO
ALTER TABLE [dbo].[Заказы$]  WITH CHECK ADD  CONSTRAINT [FK_Заказы$_Сотрудники$] FOREIGN KEY([Код_сотрудника])
REFERENCES [dbo].[Сотрудники$] ([Код_сотрудника])
GO
ALTER TABLE [dbo].[Заказы$] CHECK CONSTRAINT [FK_Заказы$_Сотрудники$]
GO
ALTER TABLE [dbo].[Сотрудники$]  WITH CHECK ADD  CONSTRAINT [FK_Сотрудники$_Должность$] FOREIGN KEY([Код_должности])
REFERENCES [dbo].[Должность$] ([Код_должности])
GO
ALTER TABLE [dbo].[Сотрудники$] CHECK CONSTRAINT [FK_Сотрудники$_Должность$]
GO
ALTER TABLE [dbo].[Чек$]  WITH CHECK ADD  CONSTRAINT [FK_Чек$_Заказы$] FOREIGN KEY([Код_заказа])
REFERENCES [dbo].[Заказы$] ([Код_заказа])
GO
ALTER TABLE [dbo].[Чек$] CHECK CONSTRAINT [FK_Чек$_Заказы$]
GO
ALTER TABLE [dbo].[Чек$]  WITH CHECK ADD  CONSTRAINT [FK_Чек$_Услуги$] FOREIGN KEY([Код_услуги])
REFERENCES [dbo].[Услуги$] ([Код_услуги])
GO
ALTER TABLE [dbo].[Чек$] CHECK CONSTRAINT [FK_Чек$_Услуги$]
GO
USE [master]
GO
